button {
    font-family: 'Poppins', sans-serif;
}

.login-button {
    background-color: #EDF2FB;
    color: #466589;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    width: 90px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover{
        background-color: #d8e3f6;
        transition: 0.3s;
    }

    &:focus{
        outline: none;
    }
}

.input-button{
    background-color: #EDF2FB;
    border: none;

    width: 70px;
    height: 70px;
    padding-left: 0px;
    padding-top: 0px;

    border-radius: 0px 15px 15px 0px;

   .search-icon{
       width: 70px;
       height: 70px;

       border-radius: 0px 15px 15px 0px;
   }

   &:focus{
    outline: none;
   }
}